# Copy (chmod 664) to /etc/systemd/system/poc-virtualbmc.service
#
# systemctl daemon-reload
# systemctl start poc-virtualbmc
# systemctl status poc-virtualbmc
# systemctl enable poc-virtualbmc
#
# podman pull quay.io/wcaban/poc-virtualbmc
# mkdir -pv /opt/virtualbmc/{keys}

#     --privileged --cap-add=NET_ADMIN --net host
#     --net host --privileged \

[Unit]
Description=Virtual BMC Server
After=network.target syslog.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-mkdir -p /opt/virtualbmc/keys
ExecStartPre=-/usr/bin/podman rm "poc-virtualbmc"

# Running in host network mode to allow dynamic port definition
ExecStart=/usr/bin/podman run --name poc-virtualbmc \
    --net host  \
    -v /opt/virtualbmc/keys:/root/.ssh/:ro \
    -v /opt/virtualbmc:/vbmc/config:Z \
    quay.io/wcaban/poc-virtualbmc

ExecReload=-/usr/bin/podman stop "poc-virtualbmc"
ExecReload=-/usr/bin/podman rm   "poc-virtualbmc"
ExecStop=-/usr/bin/podman   stop "poc-virtualbmc"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target